{{- if .Site.Menus.main }}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range .Site.Menus.main }}
		{{- if .Name }}
		<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
			<a class="menu__link" href="{{ .URL | absURL }}">
				{{ .Pre }}
				<span class="menu__text">{{ .Name }}</span>
				{{ .Post }}
			</a>
		</li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
{{/* Default navigation when no menu is configured */}}
<nav class="menu">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">Menu</span>
	</button>
	<ul class="menu__list">
		<li class="menu__item">
			<a class="menu__link" href="{{ "/System_News/" | absURL }}">
				<span class="menu__text">Trang chủ</span>
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="{{ "/System_News/posts/" | absURL }}">
				<span class="menu__text">Bài viết</span>
			</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="{{ "/System_News/about/" | absURL }}">
				<span class="menu__text">Giới thiệu</span>
			</a>
		</li>
	</ul>
</nav>
{{- end }}